/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url('components/button.css');
@import url('components/banner.css');
@import url('components/container.css');
@import url('components/card.css');
@import url('components/footer.css');

/* Utilities */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Custom design below! */
