.footer {
  height: 90px;
  background-color: #d4a373;
  opacity: 0.9;
}

.links li{
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.links a{
  color: black;
  font-size: 25px;
}

.links ul {
  padding: 0;
  text-align: center;
  margin-top : 10px;
  padding-top: 10px;
  padding-bottom: 0;
}
